<div class="profileButtons">
    <form action="/" method="get">
        <p>Ir a la pagina principal:</p>
        <button class="btn btn-dark" type="submit">Pagina principal</button>
    </form>
    <form action="/login" method="get">
        <p>Ya tenes una cuenta:</p>
        <button class="btn btn-dark" type="submit">Ir a iniciar sesión</button>
    </form>
    <form action="/register" method="get">
        <p>Todavía no tenes una cuenta:</p>
        <button class="btn btn-dark" type="submit">Ir a registrarse</button>
    </form>
    <form action="/chat" method="get">
        <p>Ir al chat:</p>
        <button class="btn btn-dark" type="submit">Chat</button>
    </form>
    <form action="/api-docs" method="get">
        <p>Ir a la documentación:</p>
        <button class="btn btn-black" style="background-color: greenyellow;" type="submit">Documentation</button>
    </form>
</div>